* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-bottom: 15px;
}
li {
  list-style: none;
}
h3 {
  font-style: italic;
}
h4 {
  text-transform: uppercase;
  opacity: 0.6;
}
h5 {
  text-transform: uppercase;
  opacity: 0.6;
  font-style: italic;
}
.box {
  background: url(../images/main-fon-birds.jpg) no-repeat;
  background-size: cover;
  height: 1000px;
  width: auto;
  margin-bottom: 30px;
}
@media
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background: url(../images/main-fon-birds-retina.jpg) no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
  }
}
