* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
h1,
.logo-text {
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  max-width: 320px;
  margin: 0 auto;
}
h2 {
  opacity: 0.6;
  font-size: 20px;
  color: #fff;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 14px;
  line-height: 20px;
}
.box-header-main {
  background-image: url(../images/fon-mobile.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 15px;
  text-align: center;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
.section {
  min-width: 320px;
  max-width: 940px;
  margin: 0 auto;
}
.menu-item {
  text-align: center;
  padding: 5px 10px;
  font-size: 20px;
  border: transparent 3px solid;
}
.menu-item:hover {
  border: 3px solid #fff;
  border-radius: 20px;
}
.menu-item-logo {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}
.logo-text {
  font-size: 20px;
}
.button {
  color: #fff;
  background: rgb(248, 7, 7);
  border: 0;
  padding: 10px 55px;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 20px;
  outline: none;
}
.button:hover {
  background: rgb(151, 62, 62);
}
.text-partner {
  text-align: center;
  width: 280px;
  margin: 20px auto;
}
.partners {
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
}
.partners-item {
  max-width: 220px;
  margin: 0 auto;
}
.partners-foto {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}
.see-other {
  width: 240px;
  height: 40px;
  line-height: 35px;
  margin: 25px auto;
  text-align: center;
  border: 2px solid rgb(243, 16, 16);
  border-radius: 20px;
}
.see-other > a {
  color: rgb(243, 16, 16);
}
.see-other > a:hover {
  color: rgb(165, 67, 67);
}
@media (min-width: 768px) {
  h1 {
    font-size: 52px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 80px;
  }
  .box-header-main {
    background-image: url(../images/fon-tablet.jpg);
  }
  .section {
    min-width: 768px;
  }
  .menu-item-logo {
    margin-top: 10px;
    margin-bottom: 100px;
    padding-left: 120px;
    font-size: 20px;
    text-align: left;
  }
  .text-partner {
    width: 100%;
  }
  .partners {
    max-width: 420px;
  }
}
@media (min-width: 940px){
  .box-header-main {
    background-image: url(../images/dextop.jpg);
  }
  .section {
    min-width: 940px;
  }
  .partners {
    max-width: 940px;
  }
}

.sprite {
  background-image: url(../icone/spritesheet.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 50px;
}
.sprite-icone-person1 {
  width: 32px;
  height: 32px;
  background-position: -5px -5px;
}
.sprite-icone-person2 {
  width: 32px;
  height: 32px;
  background-position: -47px -5px;
}
.sprite-icone-person3 {
  width: 33px;
  height: 32px;
  background-position: -5px -47px;
}
.sprite-icone-persone4 {
  width: 33px;
  height: 32px;
  background-position: -89px -5px;
}
