* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 40px;
}

.profile {
  width: 250px;
  border: solid #f8f9fa 2px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}
.description {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
}
.avatar {
  border-radius: 90px;
  width: 80px;
}
.name {
  font-weight: 700;
}
.stats {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  background-color:#e7ecf2;
  
}
.tag,
.location {
  color: #828d99;
  line-height: 1.4;
}
li {
  border: solid #f8f9fa 1px;
  height: 70px;
}
.label {
  display: flex;
  justify-content: space-around;
  width: 80px;
  font-size: 14px;
  align-items: center;
  margin-top: 12px;
  color: #828d99;
  
}
