.nav {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  color: $classic-color;
  position: absolute;
  right: 10%;
  &__item:hover {
    color: $nav__item-color;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__item:hover::after {
    content: "";
    background: $nav__item-color;
    max-width: 80px;
    height: 4px;
    display: block;
    margin-top: 10px;
  }
}


// Сделал в качестве эксперемента через CSS
.nav__icone {
  cursor: pointer;
  transition-duration: 1s;
}
.nav__icone--search {
  background-image: url(../../images/svg-icon-heder/GLASS.svg);
  width: 18px;
  height: 18px;
}
.nav__icone--search:hover {
  transform: scale(2);
  transition-duration: 1s;
}
.nav__icone--card:hover {
  transform: scale(2);
  transition-duration: 1s;
}
