.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.team__item {
  text-align: center;
  line-height: 20px;
}
.team__img {
  width: 380px;
  height: 470px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.2s;
  z-index: 6;
}
.team__img:hover {
  transform: translate(-15px, -15px);
  transition: transform 0.2s;
}
.team__img:hover .team__social__icone {
  opacity: 1;
  transition: opacity 0.2s;
}
.team__img:hover .team__img__fon {
  opacity: 1;
  transition: opacity 0.2s;
}
.team__img__fon {
  width: 380px;
  height: 470px;
  position: absolute;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(255, 173, 97, 0.6),
    rgba(214, 181, 32, 0.6)
  );
}
.team__social__icone {
  position: absolute;
  width: 220px;
  height: 56px;
  top: 200px;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  display: flex;
  justify-content: space-between;
}
.team__centr__icone {
  background-color: $nav__item-color;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__centr__icone:hover {
  background-color: $btn--subscribe-color;
}
.team_svg {
  fill: $main-text-color-after;
}
.team_svg:hover {
  fill: $classic-color;
}