.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
  }
  .sprite--photography {
    width: 32px;
    height: 31px;
    background-position: -125px -5px;
  }
  .sprite--web-design {
    width: 32px;
    height: 32px;
    background-position: -5px -88px;
  }
  .sprite--creativity {
    width: 32px;
    height: 28px;
    background-position: -5px -5px;
  }
  .sprite--seo {
    width: 32px;
    height: 32px;
    background-position: -125px -46px;
  }
  .sprite--css-html {
    width: 32px;
    height: 31px;
    background-position: -47px -5px;
  }
  .sprite--digital {
    width: 32px;
    height: 32px;
    background-position: -5px -46px;
  }