* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 12px;
}
p {
  font-size: 16px;
}
.wrapper {
  padding-top: 20px;
  max-width: 1600px;
  margin: auto;
}
header {
  overflow: hidden;
  height: 21px;
  width: 1100px;
  margin: auto;
  margin-bottom: 30px;
}
.logo-float-nav {
  float: left;
}
.nav-menu {
  font-size: 12px;
  float: right;
}
.float-nav li {
  float: left;
  margin-right: 20px;
}
.float-nav li:last-child {
  margin-right: 0;
}
.top-nav {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0101;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.top-nav:hover {
  color: #33cc99;
  border-left: 1px solid;
  border-right: 1px solid;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider-img {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}
.slider-text {
  width: 550px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 220px;
  right: 0;
  left: 0;
  margin: auto;
  line-height: 40px;
}
.slider-left-swipe {
  position: absolute;
  left: 330px;
  top: 220px;
  font-size: 90px;
  color: #ffff;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background-color: #589a8b;
  opacity: 0.8;
  z-index: 10;
}
.slider-left-swipe:hover{
  background-color: #10d6a8;
  opacity: 0.9;
}
.slider-right-swipe {
  position: absolute;
  font-size: 90px;
  right: 330px;
  top: 220px;
  color: #ffff;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background: #589a8b;
  opacity: 0.8;
  display: inline-block;
  z-index: 10;
}
.slider-right-swipe:hover{
  background-color: #10d6a8;
  opacity: 0.9;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
main {
  background: #e9f0fd;
}
.text-main {
  width: 300px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.text-main::after {
  content: "";
  display: block;
  width: 160px;
  height: 7px;
  margin: 20px auto;
  background: #1abc9c;
}
section {
  width: 1100px;
  margin: auto;
}
.shop {
  padding-bottom: 40px;
}
.product-card {
  float: left;
  height: 322px;
  width: 255px;
  margin-right: 26px;
  position: relative;
}
.product-card:hover .card-name{
  background: #1abc9c;
}
.product-card:hover .price{
  background: #7fd9c7;
}
.product-card:last-child {
  margin-right: 0;
}
.name-price {
  width: 255px;
  height: 45px;
  background-color: #323232;
  color: #ffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
}
.card-name {
  line-height: 45px;
  padding-left: 10px;
}
.price {
  height: 45px;
  width: 75px;
  background: #8c8c8c;
  font-size: 20px;
  float: right;
  text-align: center;
  line-height: 45px;
}
.price::before {
  content: "$";
}
.wrapper-icon-menu {
  position: absolute;
  height: 260px;
  width: 240px;
  top: 0;
  bottom: 40px;
  right: 0;
  left: 0;
  margin: auto;
}
.wrapper-icon-menu:hover .icon-menu{
  opacity: 1;
}
.wrapper-icon-menu:hover {
  background: rgba(115, 115, 115, 0.8);
}
.icon-menu {
  width: 165px;
  height: 105px;
  margin: 80px auto;
  opacity: 0;
}
button{
  background: none;
  border: 1px solid #ffff;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
}
button:hover{
background-color: #1abc9c;
}
button:nth-child(3) {
  margin-right: 0;
}
.icon-button-heart {
  background-image: url(../image/heart.png);
}
.icon-button-line {
  background-image: url(../image/icone-line.png);
}
.icon-button-clock {
  background-image: url(../image/icone-clock.png);
}


.add-to-cart {
  margin: 15px auto;
  color: #ffff;
  width: 165px;
  height: 45px;
  position: relative;
  background-color: rgba(50, 50, 50, 0.7);
}
.image-add-to-cart {
  width: 45px;
  height: 45px;
  background-image: url(../image/shop-card.png);
  background-repeat: no-repeat;
  background-position: 10px 5px;
  float: left;
}
.name-add-to-cart {
  position: relative;
  top:13px;
  font-size: 12px;
  text-transform: uppercase;
}

.footer {
  height: 60px;
  font-size: 20px;
  text-transform: capitalize;
  background: #000;
  color: #ffff;
  text-align: center;
  line-height: 60px;
}
p > span {
  font-size: 20px;
  color: #45b6a1;
}
