* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    min-height:100vh;
    font-family: Roboto, sans-serif;
    background-image: linear-gradient(to right, rgba(0, 255, 42, 0.6), rgb(248, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url('./../image/fon.jpg');
  }
  .wrapper{
      width: 1200px;
      margin: auto;
  }
  .block{
      width: 400px;
      height: 400px;
      background: #424242;
      margin: 40px auto;
      position: relative;
  }
  .block-item{
      width: 100px;
      height: 100px;
      list-style: none;
      position: absolute;   
  }
  .block-item5{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: red;
  }
  .block-item1{
    background:blanchedalmond;
  }
  .block-item2{
      background: fuchsia;
      left: 0;
      right: 0;
      margin: auto;
  }
  .block-item3{
      background: #e6e60d;
      right: 0;
  }
  .block-item4{
    background: #3ae0ae;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .block-item6{
    background: #3a10ac;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .block-item7{
    background: #07d329;
    bottom: 0;
  }
  .block-item8{
    background: #82acce;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .block-item9{
    background: #9dd307;
    bottom: 0;
    right: 0;
  }
  .menu{
    list-style: none;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
  }
  .menu-item {
    position: relative;
    display: inline-block;
  }
  .menu-item > a,
  .sub-menu-item > a {
  display: inline-block;
  padding: 15px 30px; 
  color: #424242;
  background: #3ae0ae;
  text-decoration: none;
}
.menu-item > a:hover,
.sub-menu-item > a:hover{
  background: #E91E63;
  color: #ffffff;
}

.sub-menu {
  /* делаем невидимым .submenu */
  display: none;
  /* при появлении .submenu окажется поверх других элементов */
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: blue;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* делаем .submenu видимым */
.menu-item:hover > .sub-menu {
  display: block;
}
/* Сроки не будут переноситься */
.sub-menu-item {
  white-space: nowrap;
}