*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.picture{
    width: 400px;
    margin: 20px auto;
}
.picture2{
    width: 400px;
    height: 200px;
    margin: 20px auto;
    background: url(../images/placeimg_400_200_animals.jpg) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .picture2 {
      background: url(../images/placeimg_800_400_any) no-repeat;
    }
  }