* {
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
}
h2{
    font-size: 25px;
}
.wrapper{
    width: 630px;
    margin: auto;
    padding-top: 20px;
}
li {
    font-size: 20px;
    color: #0E1116;
}
li:nth-child(3n+1) {
    color:#88292F;   
}
li:nth-last-child(3n+2) {
    color:#5DB7DE;   
}
li:nth-child(3n+3) {
    color:#0D5D56;   
}
/* Цикл an+b */
